<div>

    <div style="padding: 40px;">
    <a href="#/404" class="float_right" ><img src="../commons/images/1466108464_exit.png"/></a>
    </div>

    <div class="body_page padding-top-20">

        <table class="table_size border_black">

            <tr class="text-center header_table border_black">
                <td class="border_black_2"> Recebido em <a href="javascript:undefined" ng-click="filterByColumn('createdDate')"></a></td>
                <td class="border_black_2"> Ocorrido em <a href="javascript:undefined" ng-click="filterByColumn('ocurrenceDate')"></a></td>
                <td class="border_black_2"> Descrição<a href="javascript:undefined" ng-click="filterByColumn('description')"> </a></td>
                <td class="border_black_2"> Sistema de origem <a href="javascript:undefined" ng-click="filterByColumn('system')"></a></td>
                <td class="border_black_2">Visualizado</td>
            </tr>

            <tr ng-repeat="ocurrence in ocurrences" class="border_black">
                <td class="border_black">{{ocurrence.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="border_black">{{ocurrence.ocurrenceDate | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="border_black">{{ocurrence.description}}</td>
                <td class="border_black">{{ocurrence.system}}</td>
                <td class="text-center"><input type="checkbox" name="vehicle" ng-model="ocurrence.visualized"/></td>
            </tr>
        </table>

        <br/>

        <div class="float_right">
            <table>
                <tr>
                    <td class="padding_left padding_right">
                        <strong>{{total}}</strong> Registros <strong> | </strong> Resultados por página
                    </td>
                    <td class="padding_left padding_right">
                        <select ng-model="showItemsPage">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="100">100</option>
                        </select>
                    </td>

                    <td>
                        <div class="pages_buttons" ng-click="getOcurrencesBeforeAll()"> << </div>
                        </td>
                    <td>
                        <div class="pages_buttons" ng-click="getOcurrencesBefore()" > < </div>
                    </td>

                    <td ng-repeat="page in pages" class="padding_left padding_right">
                        <div id="item-{{$index + 1}}" class="pages_buttons" ng-click="getOcurrences(page)" ng-class="selectedPage == $index + 1 ? 'selectPage': 'unSelectPage'">{{page}}</div>
                    </td>

                    <td>
                        <div class="pages_buttons" ng-click="getOcurrencesNext()"> > </div>
                        </td>
                    <td>
                        <div class="pages_buttons" ng-click="getOcurrencesNextAll()"> >> </div>
                    </td>
                </tr>


            </table>


        </div>

        <div class="float_right" style="padding-top: 3px; padding-right: 50px;">
            <button>Imprimir</button>
            <button>Exportar XLS</button>
        </div>

    </div>


</div>
