table {
   border-collapse: collapse;
}

.padding_top_20{
    padding-top: 20px;
}

.border_black{
    border: 1px solid black;
}

.table_size {
    width:100%;
}

.float_right {
    float: right;
}

.border_black_2{
    border: 2px solid black; font-weight: bold;
}

.header_table{
    height: 40px; background: lightgrey; border: 2px solid black;
}

.body_page{
    width:70%; margin-left: 15%;
}

.body_page{
    width:70%; margin-left: 15%;
}

.padding_left{
    padding-left: 5px;
}

.padding_right{
    padding-right: 5px;
}
.selectPage {
    background-color: lightcoral;
}

.unSelectPage {
    background-color: white;
}

.text-center{
  text-align: center;
}

.pages_buttons{
    border: 1px solid gray; padding-bottom: 1px;  padding-top: 1px; padding-left: 5px; padding-right: 5px;
    font-weight: bold;
    color: black;
}

.pages_buttons:hover {
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pages_buttons:active {
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    cursor: pointer;
}